.center {
    text-align: center;
}
body {
    background-color: #d2b48c; /* Use a golden-brown color for the background */
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}
h1 {
    color: #8b4513; /* Saddle Brown color for the header text */
    text-align: center;
}
input, select, button {
    background-color: #f2ce9e;
    text-align: center;
}

.banner_nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;;
}

.rpg_link {
    margin: 0 10px;
    text-decoration: none;
    color: #8b4513;
}
.rpg_link:hover {
    text-decoration: underline;
    color: #5b3d0c; /* Darker shade for hover effect */
}
/* select {
    text-align: center;
} */