:root {
    --main-bg-color: goldenrod;
    --secondary-bg-color: #b98c1b;
    --alt-bg-color: #cf9d20;
    --main-color: red;
}


h1, h2 {
    text-align: center;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 2em;
}
#navOffset {
    margin-top: 150px;
}
input, select, button, textarea {
    background-color: var(--secondary-bg-color);
    border: none;
}
textarea#creatureDescription {
    resize: none;
    width: 100%;
}
button {
    margin: 5px;
}
option {
    background-color: var(--secondary-bg-color);
    color: var(--main-color);
}
.navbar-inverse {
    background-color: var(--main-bg-color);
    border-color: var(--main-color);
}

::placeholder {
    text-align: center; 
    color: var(--main-color);
 }

#armorClass, #abilityScore_strength, #abilityScore_dexterity, #abilityScore_constitution, #abilityScore_intelligence, #abilityScore_wisdom, #abilityScore_charisma {
    width: 45px;
}

#hp, #speed {
    width: 55px;
}
#hpDice {
    width: 65px;
}

.standardSpacing {
    margin: 5px;
}

/* characteristic elements */
.characteristicTitle {
    width: 165px;
}
.textareaDescription {
    height: 100px;
    line-height: 30px;
    width: 98%;
    resize: none;
}
.thinBorder {
    border: solid thin var(--main-color);
    padding: 5px;
    margin: 5px 0;
}

/* table elements */
table, th, td {
    border: 1px solid var(--main-color);
    padding: 5px;
}
th {
    text-align: center;
    background-color: var(--alt-bg-color);
}
tr:nth-child(odd) {
    background-color: var(--alt-bg-color);
}

tr:hover {
    background-color: #ebba3d;
}

/* Link overrides */
a, a:visited {
    color: var(--main-color);
}
a:hover {
    color: var(--secondary-bg-color);
}