h1, h2, h3#nicknames {
    text-align: center;
}

h1#name::first-letter, h3#nicknames::first-letter {
    text-transform: uppercase;
}

body {
    background-color: goldenrod;
    color:red;
    font-size: 2em;
}
#navOffset {
    margin-top: 150px;
}
input, select, button, textarea {
    background-color: #b98c1b;
    border: none;
}
textarea#creatureDescription {
    resize: none;
    width:100%;
}
button {
    margin: 5px;
}
option {
    background-color: #b98c1b;
    color:red;
}
.navbar-inverse {
    background-color: goldenrod;
    border-color: red;
}

::placeholder {
    text-align: center; 
    /* color: #5c460f; */
    color:red;
 }

#armorClass, #abilityScore_str, #abilityScore_dex, #abilityScore_con, #abilityScore_int, #abilityScore_wis, #abilityScore_cha {
    width: 45px;
}

#hp, #speed {
    width: 55px;
}
#hpDice {
    width: 65px;
}

.standardSpacing {
    margin: 5px;
}

/* characteristic elements */
.characteristicTitle {
    width: 165px;
}
.textareaDescription {
    height: 100px;
    line-height: 30px;
    width: 98%;
    resize: none;
}
.thinBorder {
    border: solid thin red;
    padding: 5px;
    margin: 5px 0;
}